<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="container">
  <% assignments.forEach((assignment, i)=>{ %>
  <div class="card text-center" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1474&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= assignment.title %></h5>
      <p class="card-text"><%= assignment.details %></p>
      <a href="/admin/project/<%= assignment._id %>" class="btn btn-primary">View</a>
    </div>
  </div>
  <% }); %>
</div>

<%- include('partials/footer')%>