<%- include('partials/header')%>
<%- include('partials/nav')%>

<h1> Click on assignment to delete </h1>
<div class="experiment-list">

  <% assignments.forEach((assignment, i)=>{ %>
  <div class="experiment">
    <a href="/admin/project/<%= assignment._id %>/delete"><%= assignment.title %></a>
  </div>
  <% }); %>
</div>

<%- include('partials/footer')%>